<div class="box">
    <h1 style="text-align: center;">Welcome to Dear Diary</h1>
    <p>Sign up to Dear Diary below and start experiencing other countries around the world today from the comfort of your own home.</p>
    <div class="column">
        <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
        <a class="btn btn-dark" [routerLink]="['/register']">Register</a>
    </div>
</div>

<div class="box">
    <h1 style="text-align: center;">Welcome to Dear Diary</h1>
    <p>Here you can keep track of countries you have visited and small tidbits about those countries. Click <b>Diary</b>
        to get started or <b>Countries</b> to reminisce about where you have been.</p>
    <div class="column">
        <a id="functionBtn" class="btn btn-dark" [routerLink]="['/user']">Countries</a>
        <a id="functionBtn" class="btn btn-dark" [routerLink]="['/form']">Diary</a>
    </div>
</div>