.box {
    background-color:#eff0f2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
#box{
  padding: 20px;
}

  p{
    text-align: center;
  }
  
  #functionBtn {
    margin: 5px;
  }


img {
    float: left;
    width:  100%;
    height: 607px;
    object-fit: cover;
}
