<div class="row">

  <div class="form-container">
    <h1>Dear diary,</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <label for="countryInput">Today I visited</label>
        <input ngModel required #name="ngModel" name="name"  type="text" class="form-control"  placeholder="country name">

        <label for="nationalityInput">Their nationality is</label>
        <input ngModel required #nationality="ngModel" name="nationality"  type="text" class="form-control" placeholder="nationality">

        <label for="natLangInput">Their national language is</label>
        <input ngModel required #natLang="ngModel" name="natLang"  type="text" class="form-control" placeholder="national language">

        <label for="natLangInput">Comments about this country</label>
        <input ngModel required #note="ngModel" name="note" type="text" class="form-control" placeholder="national language">

        <div class="form-group" style="text-align:center;">
          <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
  </div>
</div>

