<div class="row">

  <div class="col-sm-12">
    <h1>Register below</h1>

    <div class="form-container">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@Username</span>
          </div>
          <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
          </div>
          <input type="email" formControlName="email"  class="form-control" placeholder="Email" aria-label="Email" aria-describedby="inputGroup-sizing-default">
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
          </div>
          <input type="password" formControlName="password"  class="form-control" placeholder="Password" aria-label="Email" aria-describedby="inputGroup-sizing-default">
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
          </div>
          <input type="password" formControlName="cpass"  class="form-control" placeholder="Confirm Password" aria-label="Email" aria-describedby="inputGroup-sizing-default">
        </div>

        <div>
          <button id="functionBtn" class="btn btn-dark" type="submit">Register</button>
          <button id="functionBtn" class="btn btn-dark" routerLink="/login">Have An Account? Login</button>
        </div>


      </form>
    </div>

  </div>
</div>