<div class="row">

  <div class="col-sm-12">
    <h1>Register below</h1>

    <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" >

            <input id="email" formControlName="email" placeholder="Enter your email" />

            <input id="username" formControlName="username" placeholder="Enter your username" />

            <input id="password1" formControlName="password" placeholder="Enter your password"/>



            <input id="password2" formControlName="cpass" placeholder="Enter your password"/>


          <div>
            <button id="functionBtn" class="btn btn-dark" type="submit">Register</button>
            <button id="functionBtn" class="btn btn-dark" routerLink="/login">Have An Account? Login</button>
          </div>

      
    </form>
    </div>

  </div>
</div>