<div class="row">
  <div class="col-sm-12">
      <h1>Login below</h1>
      <!--Binds the Form to the FormGroup in user-form component ts-->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span id="spanny "class="input-group-text" id="basic-addon1">Emai</span>
          </div>
          <input type="email" class="form-control"  formControlName="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
          </div>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div >
          <button id="functionBtn" class="btn btn-dark" type="submit">Login</button>
          <button id="functionBtn" class="btn btn-dark" routerLink="/register">No Account? Create one here!</button>
        </div>
      </form>
    </div>
  </div>