<div class="row">
  <div class="form-container">
    <div class="col-sm-12">
      <h1>Login below</h1>
      <!--Binds the Form to the FormGroup in user-form component ts-->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <label >Email:</label>
          <input id="email" type="email" formControlName="email" placeholder="Enter your email" />

          <label >Password:</label>
          <input id="password1" type="password" formControlName="password" placeholder="Enter your password"/>


        <div >
          <button id="functionBtn" class="btn btn-dark" type="submit">Login</button>
          <button id="functionBtn" class="btn btn-dark" routerLink="/register">No Account? Create one here!</button>
        </div>
      </form>
    </div>
    </div>
  </div>