<div class="row">

    <div class="col-sm-12">
      <h1>Login below</h1>
      <!--Binds the Form to the FormGroup in user-form component ts-->
      <form (submit)="onLoginSubmit()">
  
        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="">
        </div>
  
        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="password" name="password" type="text" class="form-control" placeholder="">
        </div>
  
          <!--bottom of login form-->
          <div class="form-group" style="text-align:center;">
            <button type="submit" value ="submit" class="btn btn-dark">Login</button>
          </div>
      </form>
    </div>
  </div>